* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: separate;
  border-spacing: 4rem 1rem;
}

form {
  margin: 1rem 0 1rem 1rem;
  overflow: visible;

  display: flex;
  flex-direction: column;
  max-width: min-content;
  gap: 1rem;
}
