<h1>Enviar un mensaje</h1>
<form id="loadForm" action="/api/messages" method="post">
    <label for="user">User: </label>
    <input type="text" id="user" name="user" />
    <label for="message">Mensaje: </label>
    <input type="text" id="message" name="message" />
    <button id="loadFormSubmitButton" type="submit">Enviar</button>
    <button id="deleteAllButton" type="button">Eliminar Todos los Mensajes</button>
</form>
</div>
<br />
<hr>
<br />
<div>
    <h1>Historial de mensajes</h1>
    <table id="product-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p id="empty-state" style="display: none;">No hay mensajes cargados.</p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/chat.js"></script>