<div>
    <h1>Lista de productos</h1>
    <table id="product-table">
        <thead>
            {{#each tableHeader}}
                <th>{{this}}</th>
            {{/each}}
        </thead>
        <tbody></tbody>
    </table>
    <p id="empty-state" style="display: none;">No hay productos cargados.</p>
</div>
<script src="../js/home.js"></script>