<table>
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
    </tr>
    <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
    </tr>
</table>